/* alpha.css
 * For the Bumbuu Alpha user registration page.
 * 2013 Bumbuu */
html, body {
	margin: 0 auto;
	padding: 0px;
}
body {
	background-color: #abadb0;
}
#background {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	clear: none;
	background: radial-gradient(#cbcdd0, rgba(255,255,255,0));
	z-index: 0;
}
#main {
	position: absolute;
	width: calc(300% + 20px);
	min-width: 3020px;
	height: 100%;
	left: 0%;
	top: 0px;
	display: block;
	z-index: 1;
}
.main_title {
	text-align: center;
	left: 50%;
	top: 0px;
	margin-left: -500px;
	width: 1000px;
	height: 140px;
	padding: 5px;
	position: fixed;
	z-index: 2;
}
.main_title span:first-child {
	font-family: "Bauhaus 93", Arial;
	font-size: 80px;
	font-weight: 500;
	color: #f9f9f9;
	text-shadow: 0px 3px 3px #7f7f7f;
	line-height: 110px;
}
.main_title span:nth-child(2) {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: #494949;
	text-shadow: 0px 1px 0px #efefef;
	line-height: 40px;
}
.main_title span::selection {
	background-color: none;
}
.main_title span::-moz-selection {
	background-color: none;
}
.signup_holders_holder {
	width: calc((100% - 20px)/3);
	min-width: 1000px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 160px;
	margin-right: 10px;
	position: relative;
	float: left;
	clear: none;
}
.signup_holders_holder:last-child {
	margin-right: 0px;
}
.step_counter {
	width: 20px;
	height: 20px;
	padding: 10px;
	border: 1px solid #909b9d;
	background-color: #dbdde0;
	border-radius: 50px;
	font-family: Arial;
	font-size: 20px;
	color: #575757;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
	box-shadow: inset 0px 0px 4px #f2e5f6, 0px 0px 2px #a6a6a6;
	cursor: default;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	transition: background-color 300ms, border 300ms, color 300ms, text-shadow 300ms;
	-webkit-transition: background-color 300ms, border 300ms, color 300ms, text-shadow 300ms;
	-o-transition: background-color 300ms, border 300ms, color 300ms, text-shadow 300ms;
}
.step_counter[immediacy=current] {
	cursor: pointer;
}
.step_counter:hover {
	background-color: #cbcdd0;
	border: 1px solid #808b8d;
	color: #474747;
	text-shadow: 0px 1px 0px #efefef;
}
.step_counter:active {
	background-color: #bbbdc0;
	border: 1px solid #707b7d;
	color: #373737;
	text-shadow: 0px 1px 0px #dfdfdf;
}
.step_counter::selection {
	background-color: #cbcdd0;
}
.step_counter::-moz-selection {
	background-color: #cbcdd0;
}
.signup_holder {
	width: 720px;
	height: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	box-shadow: 0px 0px 5px #929292;
	border-radius: 10px;
}
.signup_holder > div:first-child {
	width: calc(30% - 20px - 1px);
	height: calc(100% - 20px - 2px);
	padding: 10px;
	float: left;
	clear: none;
	border: 1px solid #1b1f24;
	border-right-width: 0px;
	border-radius: 10px 0px 0px 10px;
	background-color: #283237;
	box-shadow: inset 0px 4px 6px #313d43;
	background-image: url(http://bumbuu.com/files/img/noise_overlay.png);
	background-repeat: repeat;
}
.signup_holder > div:last-child {
	width: calc(70% - 20px - 1px);
	height: calc(100% - 20px - 2px);
	padding: 10px;
	float: right;
	clear: none;
	border: 1px solid #5f5f5f;
	border-left-width: 0px;
	border-radius: 0px 10px 10px 0px;
	background-color: #f0f0f0;
	box-shadow: inset 0px 4px 6px #fbfbfb;
	background-image: url(http://bumbuu.com/files/img/noise_overlay.png);
	background-repeat: repeat;
}
.signup_info_title {
	width: 100%;
	height: 14px;
	margin-top: 0px;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #9fb4bf;
	text-shadow: 0px 1px 0px #010507;
}
.signup_info_description {
	width: calc(100% - 20px);
	height: calc(100% - 20px - 20px);
	margin-top: 6px;
	margin-left: 0px;
	padding: 10px;
	font-family: Arial;
	font-size: 10px;
	color: #cfe1e6;
	text-shadow: 0px 1px 0px #010507;
	line-height: 14px;
}
.signup_interaction_inside {
	width: 100%;
	height: 220px;
	margin-left: auto;
	margin-right: auto;
}
.signup_interaction_row {
	width: calc(100% - 20px);
	height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
}
.signup_interaction_row > .bumbuu_input_holder {
	float: left;
	clear: none;
	margin-left: 20px;
}
.signup_interaction_row > .bumbuu_input_holder:first-child {
	margin-left: 0px;
}
.bumbuu_intext_notif {
	position: absolute;
	margin-top: 10px;
	margin-left: calc((464px - 410px)/2);
	width: 410px;
	display: none;
}
.bumbuu_button_radioactive {
	margin-left: calc(100% - 50px);
	margin-right: 10px;
	margin-top: 20px;
}
