/* site-wide navigation bar CSS
 * Bumbuu 2013
 */
input::focus {
	outline: none;
}
#bumbuu_navbar_main {
	height: 40px;
	margin-top: 0px;
	width: auto;
	background-color: #5b5d60;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-shadow: inset 0px -5px 15px #444, 0px 1px 0px #b0bbbe;
	background-image: url(http://bumbuu.com/files/img/noise_overlay.png),
		linear-gradient(to bottom, #3f3f3f 0%, #444444 100%);
	border-bottom: 1px solid #333;
	text-align: center;
	/* overflow: hidden; */
}
#bumbuu_navbar_main div::selection {
	background-color: #444;
}
#bumbuu_navbar_main div::-moz-selection {
	background-color: #444;
}
#bumbuu_navbar_main_center {
	padding-top: 13px;
	padding-bottom: 13px;
	height: 14px;
	display: inline-block;
	min-width: 200px;
}
#bumbuu_navbar_main_center > div {
	display: block;
	float: left;
	clear: none;
	height: 100%;
	min-width: 100px;
}
#bumbuu_navbar_main_center > img,
#bumbuu_navbar_main_center > div[type=titular] img {
	display: block;
	float: left;
	clear: none;
	height: 20px;
	margin-top: -2px;
	margin-left: 15px;
	margin-right: 15px;
}
#bumbuu_navbar_main_center img#bumbuu_navbar_account {
	border-radius: 10px;
	cursor: pointer;
}
#bumbuu_navbar_main_center img#bumbuu_navbar_account:hover {
	box-shadow: 0px 0px 5px #a0a0a0;
}
#bumbuu_navbar_main_center > div[type=titular] {
	font-family: "Museo Slab", MuseoSlab, Arial, Verdana;
	font-size: 14px;
	color: #dfdfdf;
	text-shadow: 0px 0px 5px #111;
}
input#bumbuu_navbar_search {
	height: 24px;
	min-width: 250px;
	margin-top: -6px;
	border: 1px solid #222;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #777;
	box-shadow: 0px 1px 0px #5f5f5f, inset 0px 1px 1px #535353;
	display: block;
	float: left;
	clear: none;
	transition: min-width 700ms, background-color 700ms, text-shadow 700ms,
		box-shadow 700ms;
	font-family: Arial;
	font-size: 14px;
	color: #2f2f2f;
	text-shadow: 0px 1px 0px #9b9b9b;
}
input#bumbuu_navbar_search:focus {
	min-width: 400px;
	background-color: #999;
	text-shadow: 0px 1px 0px #b5b5b5;
	box-shadow: 0px 1px 0px #5f5f5f, inset 0px 1px 1px #535353,
		0px 0px 15px #555;
}
input#bumbuu_navbar_search::selection {
	background-color: #aaa;
}
input#bumbuu_navbar_search::-moz-selection {
	background-color: #aaa;
}
div.bumbuu_navbar_dropdown {
	width: 180px;
	min-height: 80px;
	background-color: pink;
	position: absolute;
	margin-top: 40px;
	margin-left: 0px;
	border: 1px solid rgba(25,25,25,0.8);
	background-color: rgba(75,75,75,0.8);
	border-radius: 7px;
	box-shadow: 0px 0px 5px #9f9f9f, inset 0px 1px 0px rgba(125,125,125,0.8);
	margin-left: -76px;
	padding: 10px;
}
div.bumbuu_navbar_dropdown:after,
div.bumbuu_navbar_dropdown:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
div.bumbuu_navbar_dropdown:after {
	border-color: rgba(25, 25, 25, 0);
	border-bottom-color: rgba(25,25,25,0.8);
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}
div.bumbuu_navbar_dropdown:before {
	border-color: rgba(10, 10, 10, 0);
	border-bottom-color: rgba(255,255,255,0.9);
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
